@{
    //ViewBag.Title = "";
}

<div class="row offset1 span9">



    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>

    @Html.ActionLink("Go To Report Page ", "Index", "ReportsList")
    <br />
    <hr />
    @Html.ActionLink("Go To Client Page ", "Index", "Client")
</div>
